/* variables */
$btn-border-color: #d3d3d3;
$btn-bg-color: #f8f8f8;
$btn-bg-highlited-color: #f0f0f0;
$btn-content-color: #333;
$btn-signin-color: #167ac6;
$btn-signin-active-color: #126db3;
$btn-signin-content-color: #fff;
$body-color: #f1f1f1;
$user-color: #128ee9;
$channel-color: #767676;

/* mixins */
@mixin top-icons {
  display: inline-block;
  vertical-align: middle;
  padding: 0 5px;
}

@mixin search-border {
  border: 1px solid #ccc;
  border-radius: 1px;
  &:hover {
    border: 1px solid $btn-border-color;
  }
  &:active {
    border: 1px solid $user-color;
  }
}

@mixin top-btn {
  display: inline-block;
  height: 55%;
  vertical-align: middle;
  color: black;
  font-family: arial;
  font-size: 0.7em;
  font-weight: bold;
  border: none;
  border-radius: 2px;
  box-sizing: border-box;
}

/* general */
body {
  background-color: $body-color;
  padding: 0 25px;
  line-height: 100%;
}

.divider {
  width: 100%;
  color: $btn-border-color;
  margin: 0;
}

/* header */
header {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  padding: 0 25px;
  box-sizing: border-box;
  background-color: #fff;
  border-bottom: 1px solid $btn-border-color;
  z-index: 2;
  .logo-container {
    position: absolute;
    display: inline-block;
    width: 10%;
    height: 100%;
    line-height: 50px;
    #menu-icon {
      @include top-icons;
    }
    #logo-icon {
      @include top-icons;
    }
    .lang {
      font-family: arial;
      font-size: 0.75em;
      color: $channel-color;
      display: inline-block;
      position: absolute;
      top: -6px;
      right: 13px;
    }
  }
  .search-container {
    position: absolute;
    display: inline-block;
    width: 50%;
    height: 100%;
    left: 11.8%;
    padding: 0 10%;
    line-height: 50px;
    .search-field {
      vertical-align: middle;
      width: 75%;
      height: 45%;
      @include search-border;
    }
    .tia {
      position: absolute;
      top: 21px;
      left: 65.5%;
      z-index: 3;
    }
    .search-btn {
      position: relative;
      left: -5px;
      top: 2px;
      width: 10%;
      height: 54%;
      box-sizing: border-box;
      background: $btn-bg-color;
      @include search-border;
      &:hover {
      background: $btn-bg-highlited-color;
      }
      #mag-glass {
        position: relative;
        top: 2px;
      }
    }
  }
  .button-container {
    position: absolute;
    display: inline-block;
    width: 15%;
    height: 100%;
    right: 25px;
    line-height: 50px;
    #upload {
      @include top-btn;
      margin-left: 30%;
      background: $btn-bg-color;
      border: 1px solid $btn-border-color;
      &:hover {
        background: $btn-bg-highlited-color;
      }
    }
    #sign-in {
      @include top-btn;
      background: $btn-signin-color;
      border: 1px solid $btn-signin-color;
      color: $btn-signin-content-color;
      &:hover {
        background: $btn-signin-active-color;
        border: 1px solid $btn-signin-active-color;
      }
    }
  }
}

/* content */
section {
  position: relative;
  top: 60px;
  display: inline-block;
  width: 66%;
  vertical-align: top;
  .stats {
    background: #fff;
    margin-top: 10px;
    padding: 20px 15px 5px 15px;
    box-sizing: border-box;
    border: 1px solid $btn-border-color;
    width: 100%;
    span {
      font-family: arial;
      color: #000;
      font-size: 1.4em;
    }
    div {
      position: relative;
      display: inline-block;
      width: 100%;
      padding: 10px 0 0 0;
      box-sizing: border-box;
      img {
        display: inline-block;
      }
      .uploader-info {
        display: inline-block;
        width: 200px;
        height: 100%;
        padding: 0;
        top: -12px;
        #uploader-name {
          position: relative;
          color: #000;
          top: -5px;
          font-family: arial;
          font-size: 0.8em;
          font-weight: bold;
          width: 100%;
        }
        #subscribe {
          position: relative;
          display: inline-block;
          height: 25px;
          border-radius: 3px;
          border: none;
          background-color: #e62117;
          color: #fff;
          font-family: arial;
          font-size: 0.7em;
          line-height: 25px;
          bottom: 3px;
          vertical-align: middle;
          &:hover {
            background-color: #cc181e;
          }
          .ar-bg {
            display: inline-block;
            background: #fff;
            border-radius: 3px;
            width: 20px;
            height: 14px;
            vertical-align: middle;
            #ar {
              position: relative;
              top: -6px;
              width: 0;
              height: 0;
              margin: auto;
              display: inline-block;
              padding: 0;
              border-left: 4px solid #e62117;
              border-top: 4px solid transparent;
              border-bottom: 4px solid transparent;
            }
          }
        }
        #sub-count {
          position: relative;
          display: inline-block;
          height: 25px;
          color: $channel-color;
          font-family: arial;
          font-size: 0.7em;
          line-height: 25px;
          box-sizing: border-box;
          top: -2px;
          left: -5px;
          padding: 0 5px;
          background-color: #fff;
          border: 1px solid $btn-border-color;
        }
      }
      #views {
        position: relative;
        right: 0;
        bottom: -30px;
        float: right;
        color: $btn-content-color;
        font-size: 1.3em;
      }
      .opt-wrapper {
        display: inline-block;
        width: 50%;
        span {
          height: 100%;
          .opt-icon {
            position: relative;
            width: 25px;
            height: 25px;
            top: -1px;
            background-color: $channel-color;
            color: #fff;
            font-size: 0.8em;
            line-height: 25px;
            text-align: center;
            padding: 0;
            &:hover {
              background-color: $btn-content-color;
            }
          }
          .opt-btn {
            position: relative;
            height: 25px;
            top: -3px;
            border: none;
            background-color: transparent;
            color: $channel-color;
            &:hover {
              color: $btn-content-color;
            }
          }
        }
      }
      .votes-wrapper {
        display: inline-block;
        float: right;
        height: 47px;
        width: 50%;
        position: relative;
        top: -1px;
        text-align: right;
        span {
          width: 50%;
          height: 100%;
          .vote-type {
            display: inline-block;
            width: auto;
            padding: 0 5px;
            height: 100%;
            color: $channel-color;
          }
          .vote {
            position: relative;
            height: 25px;
            top: -3px;
            border: none;
            background-color: transparent;
            color: $channel-color;
            &:hover {
              color: $btn-content-color;
            }
          }
        }
      }
    }
  }
}

/* recommendations */
aside {
  position: relative;
  display: inline-block;
  top: 60px;
  padding-bottom: 15px;
  right: 0;
  width: 32.5%;
  margin-left: 1%;
  background-color: white;
  border: 1px solid $btn-border-color;
  box-sizing: border-box;
  .rec {
    position: relative;
    width: 100%;
    height: 105px;
    padding: 0 10px;
    box-sizing: border-box;
    .thumbnail {
      display: inline-block;
      padding-top: 15px;
    }
    .duration {
      position: absolute;
      display: inline-block;
      top: 90px;
      left: 90px;
      width: 40px;
      height: 15px;
      background: rgba(0, 0, 0, 0.7);
      color: #fff;
      font-family: arial;
      font-size: 0.75em;
      font-weight: bold;
      vertical-align: middle;
      text-align: center;
      z-index: 4;
    }
    .data {
      display: inline-block;
      position: absolute;
      right: 0;
      padding: 15px 10px 0 10px;
      width: 62%;
      height: 90%;
      .vid-title {
        position: absolute;
        width: 95%;
        height: 40%;
        top: 20px;
        font-family: arial;
        font-weight: bold;
        font-size: 0.8em;
        color: #000;
      }
      .rec-meta {
        position: relative;
        top: 35%;
        height: 40%;
        .vid-desc {
          position: relative;
          top: 35%;
          width: 100%;
          font-family: arial;
          font-size: 0.7em;
          letter-spacing: 0.1px;
          color: $channel-color;
        }
      }
    }
  }
}

/* footer */
footer {
  position: relative;
  top: 70px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 125px;
  background-color: cyan;
}